body {
    background-color: var(--neutral-color);
    font-family: var(--primary-font);
    font-size: 16px;
}

:root {
    --primary-color: #b0c4d1;
    --secondary-color: #527148;
    --tertiary-color: #cc98a6;
    --highlight-color: #3a4c32;
    --neutral-color: #e0d3be;
    --text-color: #0a0a0a;
    --blank: #f8f6f3;
    --primary-font: 'Lora', serif;
    --secondary-font: 'DM Sans', sans-serif;
}

p, a, li {
    font-family: var(--secondary-font);
    line-height: 1.6rem;
    font-size: 1rem;
}

p.italics {
    font-style: italic;
}

.emphasized {
    font-weight: 700;
}

.btn {
    font-family: var(--secondary-font);
}

.btn-primary {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
    color: var(--text-color);
}

.btn-primary:hover {
    color: #fff;
    background-color: #5a7d94;
    border-color: #5a7d94;
}

.btn-secondary {
    background-color: var(--secondary-color);
    border-color: var(--secondary-color);
    color: var(--text-color);
}

.btn-secondary:hover {
    color: #fff;
    background-color: #384e31;
    border-color: #384e31;
}

.btn-success {
    background-color: var(--highlight-color);
    border-color: var(--highlight-color);
    color: var(--text-color);
}

.btn-success:hover {
    color: #fff;
    background-color: #5b7e4c;
    border-color: #5b7e4c;
}
.btn-danger {
    background-color: var(--tertiary-color);
    border-color: var(--tertiary-color);
    color: var(--text-color);
}

.btn-danger:hover {
    color: #fff;
    background-color: #9e6d7a;
    border-color: #9e6d7a;
}
.btn-warning {
    background-color: var(--neutral-color);
    border-color: var(--neutral-color);
    color: var(--text-color);
}

.btn-warning:hover {
    color: #fff;
    background-color: #d2b88f;
    border-color: #d2b88f;
}